<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Messages</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
	</head>
	<body class="bg-white text-zinc-800">
		<div x-data="chat_app()" x-cloak class="h-screen w-full flex overflow-hidden">
			{% include 'components/messaging-sidebar.html' %}
			{% include 'components/messaging-content.html' %}
			{% include 'components/messaging-upload-modal.html' %}
			<div class="fixed top-6 right-6 z-100 flex flex-col gap-3">
				<div class="border border-gray-200 bg-white shadow-sm text-sm rounded-lg px-4 py-3 max-w-xl">
					<div class="flex items-center justify-between">
						<div>
							<h6 class="font-medium text-lg">New User</h6>
							<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto corrupti eos asperiores qui. Aliquam aperiam itaque, sint impedit, sapiente iure eum corrupti aspernatur facere qui minus ut vitae molestiae expedita.</p>
							<button class="px-2 py-1 mt-2 bg-green-700 hover:bg-green-800 transition cursor-pointer text-white rounded">Accept</button>
						</div>
						<button type="button" class="cursor-pointer">
							<svg class="size-4" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
								<path stroke-linecap="round" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ url_for('live_messages.static', filename='js/socketio.js') }}"></script>
		<script src="{{ url_for('live_messages.static', filename='js/chat.js') }}"></script>
	</body>
</html>