<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Messages</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
	</head>
	<body class="bg-white text-zinc-800">
		<div x-data="chat_app()" x-cloak class="h-screen w-full flex overflow-hidden">
			{% include 'components/messaging-sidebar.html' %}
			{% include 'components/messaging-content.html' %}
			{% include 'components/messaging-upload-modal.html' %}
		</div>
		<script src="{{ url_for('live_messages.static', filename='js/socketio.js') }}"></script>
		<script>
			function chat_app() {
				return {
					search: '',
					mobileView: 'chat',
					newMessage: '',
					socketio: null,
					showUploadModal: false,
					scrollToBottom() {
						const el = this.$refs.messagesContainer;
						if (el) el.scrollTop = el.scrollHeight;
					},
					init(){
						this.socketio = io();

						this.socketio.on('connect', () => {
							console.log('Connected to Socket.IO server');
						});

						this.socketio.on('disconnect', () => {
							console.log('Disconnected from Socket.IO server');
						});

						this.socketio.on('user_connected', (data) => {
							console.log('User connected:', data);
						});	

					}
				};
			}
		</script>
	</body>
</html>